<div style="height: 100%;" class="p-2">
    <div *ngIf="editingTodo; else askUser" class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input [(ngModel)]="editingTodo.title" type="text" class="form-control" id="title" placeholder="Add a title..." aria-describedby="title">
        <div class="mb-3">
            <label for="description" class="form-label">Descriptions</label>
            <textarea [(ngModel)]="editingTodo!.description" class="form-control" id="description" placeholder="Add details..." rows="3"></textarea>
        </div>
        <label for="list">List</label>
        <select class="form-select mb-3" id="list" aria-label="Select list" [(ngModel)]="editingTodo!.todoListId">
            <option [ngValue]="null">None</option>
            <option *ngFor="let list of availableLists" [value]="list.id">{{list.title}}</option>
        </select>
        <div class="row">
            <div class="col-auto">
                <label for="dueDate" class="form-label">Due Date</label>
                <input [(ngModel)]="editingTodo!.dueDate" id="dueDate" class="form-control mb-3" type="datetime-local">
            </div>
        </div>
        <label for="tags" class="form-label">Tags</label>
        <div class="row mb-3">
            <div *ngFor="let addedTag of addedTags" class="col-auto px-1">
                <span class="badge rounded-pill d-flex justify-content-center" [ngStyle]="{'background-color': addedTag.colorCode}">
                    <div>{{addedTag.name}}</div> <i class="bi bi-x hoverable" style="font-size: 0.9rem;" (click)="updateAddedTags(addedTag)"></i>
                </span>
            </div>
        </div>
        <div class="dropdown mb-3">
            <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add tag
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let tag of availableTags">
                    <a class="dropdown-item" href="javascript:void(0);" (click)="updateAddedTags(tag)">
                        <i class="bi bi-tag-fill" [ngStyle]="{'color': tag.colorCode}"></i> {{tag.name}} 
                        <i *ngIf="tagIsSelected(tag)" class="bi bi-check-lg float-end ps-5" style="color: green;"></i>
                    </a>
                </li>
            </ul>
          </div>

        <div class="row g-3">
            <div class="col-auto">
                <button type="button" class="btn btn-primary" (click)="saveChanges()">Save</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-danger" (click)="deleteTodo()">Delete</button>
            </div>
        </div>
    </div>
      <ng-template #askUser>
        <div class="d-flex justify-content-center align-items-center text-secondary" style="height: 100%;">
            Click item to view details
        </div>
      </ng-template>
</div>