<div class="p-2" style="height: 81%;">
  <!-- List title section -->
  <div *ngIf="!tagMode; else showTagInfo" id="list-title-container" class="row">
    <div class="col-auto">
      <h4 *ngIf="!editListMode; else showEditListField">{{ currentList }} </h4>
      <ng-template #showEditListField>
        <input [(ngModel)]="newListTitle" type="text" class="form-control form-control-sm mb-2" [placeholder]="currentList" (keydown.enter)="updateListTitle()">
      </ng-template>
    </div>
    <div *ngIf="currentListId !== undefined" class="col-auto ps-0">
      <i *ngIf="!editListMode; else showCancelEdit" class="bi bi-pencil-fill align-middle hoverable" style="font-size: 1rem;" (click)="toggleEditListMode()"></i>&nbsp;
      <ng-template #showCancelEdit>
        <i class="bi bi-x align-middle hoverable" style="font-size: 1.5rem;" (click)="toggleEditListMode()"></i>
      </ng-template>
      <i class="bi bi-trash-fill align-middle hoverable" style="font-size: 1rem;" data-bs-toggle="modal" data-bs-target="#confirmDeleteListModal"></i>
    </div>
  </div>
  <!-- Tag title section (else)-->
   <ng-template #showTagInfo>
    <div id="tag-title-container" class="row">
      <div class="col-auto">
        <h4><i class="bi bi-tag-fill" style="font-size: 1.4rem;" [ngStyle]="{'color': currentTag?.colorCode}"></i> {{ currentTag?.name }} </h4>
      </div>
      <div class="col-auto ps-0">
        <i class="bi bi-pencil-fill align-middle hoverable" style="font-size: 1rem;" data-bs-toggle="modal" data-bs-target="#editTagModal" ></i>&nbsp;
        <i class="bi bi-trash-fill align-middle hoverable" style="font-size: 1rem;" data-bs-toggle="modal" data-bs-target="#confirmDeleteTagModal"></i>
      </div>
    </div>
   </ng-template>
  <!--Create todo item Section-->
  <div *ngIf="currentList !== 'Completed'" class="mb-3">
    <input [(ngModel)]="newTodoItem" type="text" class="form-control" placeholder="Add a new item. Press Enter to save." (keydown.enter)="addTodo()"/>
  </div>
  <!-- Sort option -->
  <div class="d-flex flex-row-reverse text-secondary hoverable" (click)="toggleSortAlpha()">
    <small id="sort-button">Sort <i *ngIf="this.sortAlphaOption === 'desc'; else showDescIcon" class="bi bi-sort-alpha-down"></i>
      <ng-template #showDescIcon><i class="bi bi-sort-alpha-up-alt"></i></ng-template>
    </small>
  </div>
    
  <!--List-->
  <div *ngIf="todos.length > 0; else addItemMessage;">
      <ng-container *ngIf="currentList !== 'Completed'">
        <div class="list-group">
          <ng-container *ngFor="let todo of todos">
            <a href="javascript:void(0);" *ngIf="!todo.isCompleted" class="list-group-item list-group-item-action" [ngClass]="todo.id === selectedTodoItem ? 'text-primary' : ''">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="markCompleted" value="completed" [checked]="todo.isCompleted ? 'checked': ''" (change)="onCheckboxChecked(todo)">
                <label class="form-check-label" for="markCompleted"></label>
              </div>
              <div class="d-inline" [ngClass]="todo.isCompleted ? 'strikethrough text-secondary' : ''" (click)="setEditing(todo)">{{ todo.title }}</div>
              <div class="ps-4 ms-3">
                <ng-container *ngIf="tagMode">
                  <small *ngIf="!tagExistsInTodoTagCollection(todo) && tagMode" [ngStyle]="{'color': currentTag?.colorCode}" [ngClass]="todo.isCompleted ? 'strikethrough text-secondary': ''">#{{currentTag?.name}} </small>
                </ng-container>
                <small *ngFor="let tag of todo.tags" [ngStyle]="{'color': tag.colorCode}" [ngClass]="todo.isCompleted ? 'strikethrough text-secondary': ''">#{{tag.name}} </small>
              </div>
            </a>
          </ng-container>
        </div>
      </ng-container>
      <!--Completed List-->
      <ng-container *ngIf="currentList !== 'Completed'">
        <div class="d-flex justify-content-center mt-4 mb-3">
          <button #completedDiv class="btn" [ngClass]="showCompletedList ? 'btn-secondary': 'btn-primary'" [disabled]="completedCount === 0" type="button" data-bs-toggle="collapse" data-bs-target="#completedListCollapse" aria-expanded="false" aria-controls="collapseExample"
            (click)="toggleShowCompleted()">
            <ng-container *ngIf="showCompletedList; else showHideMessage;">Hide completed items ({{completedCount}})</ng-container>
            <ng-template #showHideMessage>Show completed items ({{completedCount}})</ng-template>
          </button>
        </div>
      </ng-container>
      <div class="collapse" [ngClass]="{'show': showCompletedList}" id="completedListCollapse">
        <div class="list-group">
          <ng-container *ngFor="let todo of todos">
            <a href="javascript:void(0);" *ngIf="todo.isCompleted" class="list-group-item list-group-item-action" [ngClass]="todo.id === selectedTodoItem ? 'text-primary' : ''">
              <div *ngIf="todo.isCompleted">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="markCompleted" value="completed" [checked]="todo.isCompleted ? 'checked': ''" (change)="onCheckboxChecked(todo)">
                  <label class="form-check-label" for="markCompleted"></label>
                </div>
                <div class="d-inline" [ngClass]="todo.isCompleted ? 'strikethrough text-secondary' : ''" (click)="setEditing(todo)">{{ todo.title }}</div>
                <div class="ps-4 ms-3">
                  <ng-container *ngIf="tagMode">
                    <small *ngIf="!tagExistsInTodoTagCollection(todo)" [ngStyle]="{'color': currentTag?.colorCode}" [ngClass]="todo.isCompleted ? 'strikethrough text-secondary': ''">#{{currentTag?.name}} </small>
                  </ng-container>
                  <small *ngFor="let tag of todo.tags" [ngStyle]="{'color': tag.colorCode}" [ngClass]="todo.isCompleted ? 'strikethrough text-secondary': ''">#{{tag.name}} </small>
                </div>
              </div>
            </a>
          </ng-container>
        </div>
      </div>
  </div>
  <ng-template #addItemMessage>
    <div class="d-flex justify-content-center align-items-center text-secondary" style="height: 100%;">
      {{noItemsMessage}}
    </div>
  </ng-template>
</div>

<!-- Confirm Delete List Modal -->
<div class="modal fade" id="confirmDeleteListModal" tabindex="-1" aria-labelledby="confirmDeleteListModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmDeleteListModalLabel">Delete list '{{ currentList }}'?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Please select what you would like to do with the todo items in this list.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteList(false)">Delete & keep items</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteList(true)">Delete list & items</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Tag Modal -->
<div *ngIf="editingTag" class="modal fade" id="editTagModal" tabindex="-1" aria-labelledby="editTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editTagModalLabel">Edit tag</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">  
          <label for="editName" class="form-label">Name</label>
          <input [(ngModel)]="editingTag!.name" type="text" class="form-control form-control-sm" id="editName">
        </div>

        <label class="form-label">Color</label>
        <div>
          <div *ngFor="let tagColor of tagColorOptions" class="form-check form-check-inline">
            <!--Color automatically selected if tagColor.hexCode matches current tag's color-->
            <input [(ngModel)]="editingTag.colorCode" class="form-check-input" type="radio" name="tagColor" [id]="tagColor.name" [value]="tagColor.hexCode"> 
            <label class="form-check-label" [for]="tagColor.name">
              <i class="bi bi-tag-fill" style="font-size: 1.4rem;" [ngStyle]="{'color': tagColor.hexCode}"></i>
            </label>
          </div>
        </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="updateTag()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Delete Tag Modal -->
<div class="modal fade" id="confirmDeleteTagModal" tabindex="-1" aria-labelledby="confirmDeleteTagModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmDeleteTagModalLabel">Delete tag '{{ currentTag?.name }}'?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Todo items with this tag will be unassigned this tag.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteTag()">Yes</button>
      </div>
    </div>
  </div>
</div>
